<li data-name="<%= node.name %>">
  <%= node.content %>

  <% if node.children.present? %>
    <ol><% node.children.each do |child| %>
      <%= erb :_node, locals: { node: child } %>
    <% end %></ol>
  <% end %>
</li>