<li data-name="<%= node.name %>" class="<%= node.children.present? ? "is-parent" : "is-childless" %>">
  <span class="content"><%= node.content %></span>

  <% if node.children.present? %>
    <ol class="child"><% node.children.each do |child| %>
      <%= erb :_node, locals: { node: child } %>
    <% end %></ol>
  <% end %>
</li>