<!DOCTYPE html>
<html>
  <head>
    <title>Tractatus Logico-Philosophicus</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>

  <body>
    <div id="menu" class="l-menu menu">
      <a id="expand">Expand</a>
      <span class="separator">|</span>
      <a id="collapse">Collapse</a>
    </div>

    <ol id="root" class="l-root"><% @tractatus.root.children.each do |node| %>
      <%= erb :_node, locals: { node: node } %>
    <% end %></ol>
  </body>
</html>
