<!DOCTYPE html>
<html>
  <head>
    <title>Tractatus Logico-Philosophicus</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="javascripts/vendor/json2.js"></script>
    <script src="javascripts/vendor/underscore-min.js"></script>
    <script src="javascripts/vendor/backbone-min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>

  <body>
    <div id="menu" class="l-menu menu">
      <a id="expand">Expand</a>
      <a id="collapse">Collapse</a>
    </div>

    <div id="document" class="l-document document">
      <ol id="root" class="l-root">
        <% @tractatus.root.children.each do |node| %>
          <%= erb :_node, locals: { node: node } %>
        <% end %>
      </ol>
    </div>
  </body>
</html>
