<!DOCTYPE html>
<html>
  <head>
    <title>Tractatus Logico-Philosophicus</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="javascripts/vendor/json2.js"></script>
    <script src="javascripts/vendor/underscore-min.js"></script>
    <script src="javascripts/vendor/backbone-min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>

  <body>
    <div id="menu" class="l-menu menu">
      <a id="expand" href="/#expanded">Expand</a>
      <a id="collapse" href="/#collapsed">Collapse</a>
    </div>

    <div id="document" class="l-document document">
      <ol id="root" class="l-root">
        <% @tractatus.root.children.each do |node| %>
          <%= erb :_node, locals: { node: node } %>
        <% end %>
      </ol>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-5681004-11"]);
      _gaq.push(["_trackPageview"]);

      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
