body {
  margin: 2em;
  background-color: #eee;
  font-family: serif;
  font-size: 16px;
  line-height: 20px;
}

ol {
  margin: 0;
  padding: 0;
}
  ol li ol {
    padding: 0 1em;
  }

ol li {
  list-style: none;
  margin: 0.25em;
  transition: background-color 0.25s;
  cursor: default;
}
  ol li:before {
    content: attr(data-name);
    margin-right: 0.5em;
  }

li:hover {
  background-color: rgba(0,0,0,0.1);
}